.characters-section {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.75rem;
}

.characters-main-content {
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characters-names {
  margin: 0;
  display: flex;
}

.characters-a-container {
  display: block;
  position: relative;
  z-index: 1;
  min-width: 171.94px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.characters-bg-container {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 200ms ease-in-out 0s;
}

.characters-img-container {
  display: flex;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.characters-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .characters-cards-container {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para tablets */
  }
}

.characters-img {
  display: block;
  min-height: 1px;
  width: 100%;
  transition: transform 200ms ease-in-out 0s;
}

.characters-bg-img {
  display: block;
  min-height: 1px;
  width: 100%;
  transition: transform 200ms ease-in-out 0s;
}

.characters-a-container:hover .characters-img {
  transform: scale(1.15);
  transition: transform 200ms ease-in-out 0s;
}

.characters-a-container:hover .characters-bg-img {
  transform: scale(0.87);
  transition: transform 200ms ease-in-out 0s;
  object-fit: cover;
}
