.container{
    width: 100vw;
}

.descripcion{
    display: flex;
    margin-top: 100px;
    padding-left: 70px;
    width: 80%;
    gap:2rem;
    padding-top: 24px;
}

.imagen{
    background: linear-gradient(rgb(25, 40, 95), rgb(60, 79, 150));
    box-sizing: border-box;
    height: 450px;
    padding: 70px;
}

.image{
    border-radius: 1rem;
    margin-bottom: -100px;
    width: 100%;
}

@keyframes example {
    0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.075);
      }
      50% {
        transform: scale(1.03);
      }
      75% {
        transform: scale(1.075);
      }
      100% {
        transform: scale(1.05);
      }
  }

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 0, 18);
    height: 30px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    font-weight: 700;
    border: none;
}

.button:hover{
    background-color: rgb(172, 0, 13);
    color: white;
    border-radius: 0.75rem;
    animation-name: example  0.5s ease;
    transform: scale(1.05);
}


.barracontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 40px;
    gap: 30px;
}

.barraalgo{
    background-color: #484848;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.barraalgo:hover{
    background-color: rgb(230, 0, 18);
    animation-name: example  0.5s ease;
    transform: scale(1.05);
}

.barra{
    display: flex;
    width: 3rem;
    height: 0.5rem;
    border-radius: 100rem;
    background-color: #969696;
}

.barra:hover{
    background-color: rgb(230, 0, 18);
}



@media(max-width:1024px){
    .image{
        width: 100vw;
        padding: 0;
    }

    .imagen{
        padding: 0;
        height: 207px;
    }

    .descripcion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-left: 0;
        width: 100vw;
        margin-left: 0;
        gap:-200px;
    }

    .descripcion h2{
        background: linear-gradient(rgb(25, 40, 95), rgb(60, 79, 150));
        color: white;
        width: 60rem;
        padding: 4rem;

    }

    .button{
        display: block;
        position: relative;
        width: 50rem;
        margin-top: -70px;
        margin-left: 70px;
    }
}

body{
    margin: 0;
}